on:
  push:
    branches:
      - main
    tags:
      - "v*"

name: Release policy

jobs:
  test:
    name: run tests and linters
    uses: kubewarden/github-actions/.github/workflows/reusable-test-policy-rust.yml@061457443f381a6c92489003d1d89c67ac32ad51 # v4.3.0

  release:
    needs: test
    permissions:
      # Required to create GH releases
      contents: write
      # Required to push to GHCR
      packages: write
      # Required by cosign keyless signing
      id-token: write
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-rust.yml@061457443f381a6c92489003d1d89c67ac32ad51 # v4.3.0
    with:
      oci-target: ghcr.io/${{ github.repository_owner }}/policies/verify-image-signatures

  release-catalog:
    needs: release
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-catalog.yml@061457443f381a6c92489003d1d89c67ac32ad51 # v4.3.0
    secrets:
      APP_ID: ${{ secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
