on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "v*"

name: Release policy

jobs:
  test:
    name: run tests and linters
    uses: kubewarden/github-actions/.github/workflows/reusable-test-policy-rust.yml@a856b31e3c8d62419e6c2fa325dbd346fec21af5 # v4.4.0

  release:
    needs: test
    permissions:
      # Required to create GH releases
      contents: write
      # Required to push to GHCR
      packages: write
      # Required by cosign keyless signing
      id-token: write
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-rust.yml@reuse-draft-release
    with:
      oci-target: ghcr.io/${{ github.repository_owner }}/policies/verify-image-signatures

  release-catalog:
    needs: release
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-catalog.yml@a856b31e3c8d62419e6c2fa325dbd346fec21af5 # v4.4.0
    secrets:
      APP_ID: ${{ secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
